<div class="modal fade modal-aprobacion" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 style="text-align:center;">Aprobación de direcciones</h3>
            </div-->            
            <div id="imprimeme">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel">
                                <div class="panel-heading" style="background-color: #1E335B;">
                                    <h3 class="panel-title" style="color: #FFFFFF;">Aprobación de dirección de entrega</h3>
                                </div>
                                <!-- BASIC FORM ELEMENTS -->
                                <!--===================================================-->
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 ">Empresa:</label>
                                                <div class="col-sm-9">
                                                    <select ng-change="cambioEmpresa()" id="selEmpresas" class="form-control" ng-options="empresa as empresa.emp_nombre for empresa in empresas track by empresa.emp_idempresa" ng-model="empresaActual"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <diV class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 ">Sucursal:</label>
                                                <div class="col-sm-8">
                                                    <select id="selSucursales" ng-change="cambioSucursal(empresaActual,sucursalActual,fecha)" ng-disabled="empresaActual.emp_idempresa==0" class="form-control" ng-options="sucursal.NOMBRE_AGENCIA for sucursal in sucursales track by sucursal.AGENCIA" ng-model="sucursalActual"></select>
                                                </div>
                                            </div>
                                        </diV>
                                    </div>
                                    <div class="row">
                                        <div class="panel-heading" style="background-color: #FFFFFF; height: 20px; padding: 0px;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-heading" style="background-color: #7B8599; height: 40px; padding: 0px;">
                                            <h4 class="panel-title" style="color: #FFFFFF;">Datos de domicilio</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-heading" style="background-color: #FFFFFF; height: 20px; padding: 0px;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <!--Estado-->
                                            <div class="form-group">
                                                <label class="control-label">Estado</label>
                                                <input type="text" class="form-control" placeholder="Número Exterior" ng-model="direccion.Estado" readonly="true">
                                                <small class="help-block"></small>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <!--Ciudad-->
                                            <div class="form-group">
                                                <label class="control-label">Ciudad</label>
                                                <input type="text" class="form-control" placeholder="Número Exterior" ng-model="direccion.RTD_CIUDAD" readonly="true">
                                                <small class="help-block"></small>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <!--Municipio-->
                                            <div class="form-group">
                                                <label class="control-label">Municipio</label>
                                                <input type="text" class="form-control" placeholder="Número Exterior" ng-model="direccion.RTD_DELEGAC" readonly="true">
                                                <small class="help-block"></small>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <!--Colonia-->
                                            <div class="form-group">
                                                <label class="control-label">Colonia:</label>
                                                <input type="text" class="form-control" placeholder="Número Exterior" ng-model="direccion.RTD_COLONIA" readonly="true">
                                                <small class="help-block"></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <!--Calle-->
                                            <div class="form-group">
                                                <label class="control-label">Calle:</label>
                                                <input type="text" class="form-control" placeholder="Calle" ng-model="direccion.RTD_CALLE1" readonly="true">
                                                <small class="help-block"></small>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <!--No. Ext.-->
                                            <div class="form-group">
                                                <label class="control-label">No. Ext.:</label>
                                                <input type="text" class="form-control" placeholder="Número Exterior" ng-model="direccion.RTD_NUMEXTER" readonly="true">
                                                <small class="help-block"></small>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <!--No. Int.-->
                                            <div class="form-group">
                                                <label class="control-label">No. Int.:</label>
                                                <input type="text" class="form-control" placeholder="Número Interior" ng-model="direccion.RTD_NUMINER" readonly="true">
                                                <small class="help-block"></small>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <!--Cp-->
                                            <div class="form-group">
                                                <label class="control-label">C.P.:</label>
                                                <input type="text" class="form-control" placeholder="Número Exterior" ng-model="direccion.RTD_CODPOS" readonly="true">
                                                <small class="help-block"></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <!--Referencia-->
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="demo-textarea-input">Referencia:</label>
                                                <div class="col-md-10">
                                                    <textarea id="demo-textarea-input" rows="2" class="form-control" placeholder="Referencia del domicilio" ng-model="direccion.RTD_OBSERVACIONES" readonly="true"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="col-md-6 control-label">Comprobante de domicilio</label>
                                                <div class="col-md-6" ng-click="muestraComprobante()">
                                                    <span class="pull-left btn btn-primary btn-file">
                                                        <i class="fa fa-search"></i>
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-heading" style="background-color: #FFFFFF; height: 20px; padding: 0px;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-heading" style="background-color: #7B8599; height: 40px; padding: 0px;">
                                            <h4 class="panel-title" style="color: #FFFFFF;">Datos de contacto</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div>
                                            <p>
                                        </div>
                                    </div>
                                    <div class="row" style="background-color: #BBC6DA; height: 40px; padding: 0px;">
                                        <div class="panel-heading" style="background-color: #BBC6DA; height: 40px; padding: 0px;">
                                            <h4 class="panel-title" style="color: #FFFFFF;">Contacto 1</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Nombre</label>
                                                <input type="text" class="form-control" ng-model="direccion.RTD_NOMPER1" readonly="true">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Apellido Paterno</label>
                                                <input type="text" class="form-control" ng-model="direccion.RTD_PATPER1" readonly="true">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Apellido Materno</label>
                                                <input type="text" class="form-control" ng-model="direccion.RTD_MATPER1" readonly="true">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">R.F.C.</label>
                                                <input type="text" class="form-control" ng-model="direccion.RTD_RFCPER1" readonly="true">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <div class="form-group">
                                                <label class="control-label">Lada</label>
                                                <input type="text" class="form-control" ng-model="direccion.RTD_LADAPER1" readonly="true">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Telefono 1</label>
                                                <input type="text" class="form-control" ng-model="direccion.RTD_TEL1PER1" readonly="true">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Telefono 2</label>
                                                <input type="text" class="form-control" ng-model="direccion.RTD_TEL2PER1" readonly="true">
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label class="control-label" for="demo-email-input">Correo electronico Contacto 1</label>
                                                <input type="email" class="form-control" ng-model="direccion.RTD_EMAILPER1" readonly="true">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="background-color: #BBC6DA; height: 40px; padding: 0px;">
                                        <div class="panel-heading" style="background-color: #BBC6DA; height: 40px; padding: 0px;">
                                            <h4 class="panel-title" style="color: #FFFFFF;">Contacto 2</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Nombre</label>
                                                <input type="text" class="form-control" ng-model="direccion.RTD_NOMPER2" readonly="true">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Apellido Paterno</label>
                                                <input type="text" class="form-control" ng-model="direccion.RTD_PATPER2" readonly="true">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Apellido Materno</label>
                                                <input type="text" class="form-control" ng-model="direccion.RTD_MATPER2" readonly="true">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">R.F.C.</label>
                                                <input type="text" class="form-control" ng-model="direccion.RTD_RFCPER2" readonly="true">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <div class="form-group">
                                                <label class="control-label">Lada</label>
                                                <input type="text" class="form-control" ng-model="direccion.RTD_LADAPER2" readonly="true">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Telefono 1</label>
                                                <input type="text" class="form-control" ng-model="direccion.RTD_TEL1PER2" readonly="true">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Telefono 2</label>
                                                <input type="text" class="form-control" ng-model="direccion.RTD_TEL2PER2" readonly="true">
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label class="control-label" for="demo-email-input">Correo electronico Contacto 2</label>
                                                <input type="email" class="form-control" ng-model="direccion.RTD_EMAILPER2" readonly="true">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label" for="demo-email-input">Correo electronico general de sucursal</label>
                                                <input type="email" class="form-control" ng-model="direccion.RTD_EMAILGENERAL" readonly="true">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" style="padding-top: 21px;">
                                                <label class="col-sm-5 ">Ruta de entrega:</label>
                                                <div class="col-sm-7">
                                                    <select id="selRutas" class="form-control" ng-options="ruta as ruta.RUT_NOMBRERT for ruta in rutas track by ruta.RUT_IDRUTA" ng-model="rutaActual"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <a ng-click="Procesar(2)" type="button" class="finish btn btn-info">Aprobar</a>
                                                <a ng-click="Procesar(3)" type="button" class="finish btn btn-danger">Rechazar</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-right" style="background-color: #FFFFFF;">
                                    </div>
                                </div>
                                <form class="panel-body form-horizontal form-padding">
                                    <div class="panel-body">
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
