<div class="modal fade modal-cotizacion" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span>Crédito autorizado: {{sucursalActual.Con_LimCredito | currency}}</span>
        <div class="progress progress-lg pull-right">
          <div class="restante">
              Crédito disponible: {{sucursalActual.Con_LimCredito- total | currency }}
          </div>
          <div style="width: {{((sucursalActual.Con_LimCredito- total)/sucursalActual.Con_LimCredito)*100}}%" class="progress-bar progress-bar-success"></div>
          <div style="width: {{((total)/sucursalActual.Con_LimCredito)*100}}%" class="progress-bar progress-bar-danger"></div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3>{{folioActual=="TEMP"?"Nueva cotización":"Cotización" }}</h3>
        <h4 class="modal-title" id="myModalLabel">Folio: {{empresaActual.emp_nombrecto}}-{{sucursalActual.suc_nombrecto}}-REF-{{folioActual}}</h4>
      </div>
      <div style="padding:0px" class="modal-body">
        <div id="demo-step-wz">
          <div class="wz-heading wz-w-label bg-info">
            <div class="progress progress-sm">
              <div style="width: 75%; margin: 0px 12.5%;" class="progress-bar progress-bar-dark bg-gray"></div>
            </div>
            <ul class="wz-steps wz-icon-bw wz-nav-off text-lg">
              <li class="col-xs-4 active">
                <a data-toggle="tab" href="#demo-step-tab1" aria-expanded="false">
                  <span class="icon-wrap icon-wrap-xs icon-circle bg-gray ">
        					                                    <span class="wz-icon icon-txt text-bold">1</span>
                  <i class="wz-icon-done fa fa-check"></i>
                  </span>
                  <small class="wz-desc box-block text-semibold">Busqueda de refacciones</small>
                </a>
              </li>
              <li class="col-xs-4">
                <a data-toggle="tab" href="#demo-step-tab2" aria-expanded="false">
                  <span class="icon-wrap icon-wrap-xs icon-circle bg-gray ">
                    <span class="wz-icon icon-txt text-bold">2</span>
                  <i class="wz-icon-done fa fa-check"></i>
                  </span>
                  <small class="wz-desc box-block text-semibold">Datos de entrega</small>
                </a>
              </li>
              <li class="col-xs-4">
                <a data-toggle="tab" href="#demo-step-tab3" aria-expanded="false">
                  <span class="icon-wrap icon-wrap-xs icon-circle bg-gray ">
        					                                    <span class="wz-icon icon-txt text-bold">3</span>
                  <i class="wz-icon-done fa fa-check"></i>
                  </span>
                  <small class="wz-desc box-block text-semibold">Confirmación de pedido</small>
                </a>
              </li>
            </ul>
          </div>

          <!--Form-->
          <form class="form-horizontal">
            <div style="height: 65vh;" class="panel-body">
              <div class="tab-content">
                <div ui-view></div>

              </div>
            </div>

            <!--Footer button-->
            <div class="panel-footer text-right">
              <div class="box-inline">
                <a ng-hide="backorder || sinbackorder" href="{{previous}}" type="button" class="previous btn btn-info">Anterior</a>
                <a ng-disabled="(page == 1 && cotizacionActual.length == 0) ||(!direccionActual &&  page == 2)" href="{{next}}" type="button" class="next btn btn-info disabled" style="display: none;">Siguiente</a>
                <a ng-show="backorder || sinbackorder" ng-click="hacerPedido(3)" type="button" class="finish btn btn-warning" style="display: inline-block;">Cancelar pedido</a>
                <a ng-show="backorder" ng-click="hacerPedido(0)" type="button" class="finish btn btn-success" style="display: inline-block;">Confirmar pedido <b>con</b> backorder</a>
                <a ng-show="sinbackorderTotal" ng-click="hacerPedido(1)" type="button" class="finish btn btn-info" style="display: inline-block;">Confirmar pedido <b>sin</b> backorder</a>
                <a ng-hide="backorder || sinbackorder" ng-click="hacerPedido(0)" type="button" class="finish btn btn-primary" style="display: inline-block;">Realizar pedido</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
