.alert {
  text-align: center;
  padding: 8px;
  margin-bottom: 0px;
}
.padding-fix {
  padding-left: 0px!important;
}
#tabla-cotizacion th {
  cursor: pointer;
}
.chart canvas {
  display: block;
  margin: 0 auto;
}
.chart span {
  line-height: 900%;
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
}
