<div id="container" class="cls-container">
  <div id="bg-overlay"></div>
  <div class="cls-content">
    <div class="cls-content-sm panel">
      <div class="panel-body">
        <div>
          <h1 class="logo-name">
            <img width="250" src="assets/images/logoA.png" alt=""/>
          </h1>
        </div>
        <div class="mar-ver pad-btm">
          <h3 class="h4 mar-no">Portal refacciones</h3>
        </div>
        <form class="form" name="form" ng-submit="vm.login(form)" novalidate>
          <div class="form-group">
            <input type="rfc" name="rfc" ng-model="vm.user.rfc" class="form-control" placeholder="RFC" autofocus required>
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Contraseña" ng-model="vm.user.password" required>
          </div>
          <div class="form-group has-error">
            <p class="help-block" ng-show="form.rfc.$error.required  && vm.submitted">
              Por favor ingresa RFC
            </p>
            <p class="help-block" ng-show="form.password.$error.required && vm.submitted">
              Por favor ingresa contraseña
            </p>
            <p class="help-block">{{ vm.errors.other }}</p>
          </div>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Iniciar sesión</button>
        </form>
      </div>
    </div>
  </div>
</div>
