<div id="page-content">
    <div class="row ">
        <div class="col-sm-10 col-sm-push-1 mar-top">
            <div id="">
                <h1 class="page-header text-overflow">Pedidos</h1>
                </h1>
            </div>
        </div>
        <div class="col-sm-10 col-sm-push-1 mar-top ">
            <div class="panel ">
                <div class="panel-body pad-top mar-top">
                    <div class="col-sm-6  col-xs-12">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 ">Empresa: </label>
                                <div class="col-sm-8">
                                    <select ng-change="cambioEmpresa()" id="selEmpresas" class="form-control" ng-options="empresa as empresa.emp_nombre for empresa in empresas track by empresa.emp_idempresa" ng-model="empresaActual"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 ">Sucursal: </label>
                                <div class="col-sm-8">
                                    <select id="selSucursales" ng-change="cambioSucursal(empresaActual,sucursalActual,fecha)" ng-disabled="empresaActual.emp_idempresa==0" class="form-control" ng-options="sucursal.NOMBRE_AGENCIA for sucursal in sucursales track by sucursal.AGENCIA" ng-model="sucursalActual"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div ng-hide="!sucursalActual || sucursalActual.AGENCIA == 0 " class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 ">Período: </label>
                                <div class="col-sm-7">
                                    <input type="text" name="daterange" value="" class="input-sm form-control" ng-model="fecha" />
                                </div>
                                <div class="col-sm-2">
                                    <a class="btn btn-info btn-icon">
                                        <i class="fa fa-search" ng-click="cambioSucursal(empresaActual,sucursalActual,fecha)"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="listaPedidos.length > 0" class=" col-xs-12">                        
                        <table id="tblPedidoFiltros" st-table="pedidos" st-safe-src="listaPedidos">
                            <thead>
                                <tr>
                                    <th style="display: none;">
                                        id_pedido  
                                    </th>
                                    <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="folio" st-sort="folioPedido">
                                        No. Pedido
                                    </th>
                                    <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="empresaNombre">
                                        Fecha
                                    </th>
                                    <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="empresaNombre">
                                        Empresa
                                    </th>
                                    <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="sucursalNombre">
                                        Sucursal
                                    </th>
                                    <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="total" st-sort="total" style="text-align:center">
                                        Total
                                    </th>
                                    <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="total" st-sort="estatus" width="20%">
                                        Estatus
                                    </th>
                                    <!-- <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="token">
                                        Token
                                    </th> -->
                                    <th>
                                        Ver Pedido
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pedido in pedidos">
                                    <td style="display: none;">
                                        {{pedido.ID_Pedido}}
                                    </td>
                                    <td>
                                        <span>{{pedido.folioPedido}}</span>
                                    </td>
                                    <td>
                                        {{pedido.PMM_FECHA}}
                                    </td>
                                    <td>
                                        {{pedido.empresaNombre}}
                                    </td>
                                    <td>
                                        {{pedido.sucursalNombre}}
                                    </td>
                                    <td style="text-align:right">
                                        {{pedido.total | currency}}
                                    </td>
                                    <td width="20%">
                                        <!-- ng-style="{ 'background-color':'{{pedido.color}}' }" -->
                                        <div class="label label-table" ng-style="{ 'background-color':'{{pedido.color}}' }">{{pedido.estatus}}</div>
                                    </td>
                                    <td>
                                        <a href="{{'/pedido/'+pedido.idPedidoRef+'/'+pedido.folioPedido+'/'+pedido.color.replace('#','')+'/'+pedido.estatus}}" class="btn btn-info btn-icon"><i class="fa fa-search"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-pedido-container" ui-view></div>
