<div id="navbar-container" class="boxed">
  <div class="navbar-header">
    <a href="index.html" class="navbar-brand">
      <div class="brand-title">
        <span class="brand-text">Grupo Andrade</span>
      </div>
    </a>
  </div>
  <div class="navbar-content clearfix">
    <ul class="nav navbar-top-links pull-left">
      <li class="tgl-menu-btn">
        <a class="mainnav-toggle reveal" href="#">
          <i class="demo-pli-view-list">Menu</i>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-top-links pull-right">
      <li>
        <a href="#" class="aside-toggle navbar-aside-icon">
        </a>
      </li>
    </ul>
  </div>
</div>
