.alert {
  text-align: center;
  padding: 8px;
  margin-bottom: 0px;
}
.padding-fix {
  padding-left: 0px!important;
}
.show-hover {
  display: none!important;
}
.list-group-item-custom:hover .show-hover {
  display: block!important;
}
.list-group-item {
  height: 45px;
}
.list-group-item {
  padding: 5px;
}
.wz-heading .progress {
  top: 40%!important;
}
.query-container {
  max-height: 35vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  left: 8px;
  right: 0px;
  z-index: 100;
  background: white;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 7px 4px 10px 0px rgba(50, 50, 50, 0.5);
}
.query-container input {
  width: 80px;
  margin: auto;
  display: block;
}
.list-group-item-custom {
  cursor: pointer;
}
.list-group-item-custom {
  height: 49px!important;
}
.list-group-item-custom td {
  line-height: 26px!important;
}
.btn-container {
  position: absolute;
  bottom: 10px;
  left: 16px;
  z-index: 10;
}

.encabezado thead {
  position: fixed;
  background-color: whitesmoke;
  right: 27px;
  left: 21px;
}

.encabezado tr {
  display: block;
}

#demo-step-tab1{
 padding: 0 15px; 
}
