<div id="demo-step-tab1" class="tab-pane   active in">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputRefacciones">Introduce número de parte o descripción:</label>
        <div class="input-group">
          <input autocomplete="off" ng-change="buscarRefaccion()" ng-model="refaccionBusqueda" placeholder="Buscar" id="inputRefacciones" type="text" class="form-control">
          <span class="input-group-btn">
              <button ng-click="clearQuery()" class="btn btn-primary btn-small" type="button"><i class="fa fa-angle-double-left"></i></button>
         </span>
        </div>
      </div>
    </div>
    <div class="col-sm-push-1 col-sm-5">
      <div class="form-group">
        <label for="inputRefacciones">Plantillas:</label>
        <div style="margin-top:-9px;" class="pull-right">
          <button ng-show="templateActual.idCotizacionPlantilla == 0  && cotizacionActual.length>0" type="button" class="btn btn-success btn-icon " data-toggle="tooltip" data-placement="top" title="Guardar como plantilla" ng-click="guadarTemplateBack()">
            <i class="fa fa-save"></i>
          </button>
          <button ng-show="templateActual.idCotizacionPlantilla != 0" type="button" class="btn btn-primary btn-icon " data-toggle="tooltip" data-placement="top" title="Actualizar plantilla" ng-click="guadarTemplateBack()"><i class="fa fa-refresh"></i></button>
          <button ng-show="templateActual.idCotizacionPlantilla != 0" type="button" class="btn btn-danger btn-icon " data-toggle="tooltip" data-placement="top" title="Eliminar plantilla" ng-click="eliminarTemplate()"><i class="fa fa-trash"></i></button>
        </div>
        <select ng-change="cargarTemplate()" class="form-control" ng-options="template as template.descripcion for template in listaTemplates track by template.idCotizacionPlantilla" ng-model="templateActual"></select>
      </div>
    </div>
    <div style="margin-top: -15px;" class="col-xs-12">
      <div ng-show="busquedaActual.length > 0" class="form-group query-container  ">
        <table class="table table-hover encabezado">
          <thead>
            <tr>
              <th style="width:23%">
                No serie
              </th>
              <th style="width:32%">
                Descripción
              </th>
              <th style="width:21.5%">
                Precio
              </th>
              <th style="width:15%">
                Cantidad
              </th>
              <th style="width:10%">
                Agregar
              </th </tr>
          </thead>
        </table>
        <table style="margin-top:35px;" class="table table-hover ">
          <tbody>
            <tr class="list-group-item-custom" ng-repeat="refaccion in busquedaActual">
              <td style="width:20%">
                {{refaccion.PTS_IDPARTE}}
              </td>
              <td style="width:30%">
                {{refaccion.PTS_DESPARTE}}
              </td>
              <td style="width:20%">
                {{refaccion.PTS_PCOLISTA | currency}}
              </td>
              <td style="width:18%">
                <input ng-value="1" ng-model="refaccion.cantidad" autocomplete="off" size="5" class="show-hover text-center form-control" type="number" value="1" name="cantidad" min="1" max="9999">
              </td>
              <td style="width:12%">
                <button ng-click="agregarACotizacion(refaccion)" class="btn btn-primary show-hover" type="button" name="button">
                  <i class="fa fa-plus"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div ng-show="spinner" class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <div class="col-sm-12">
      <div ng-show="cotizacionActual.length > 0" class="form-group ">
        <div style="max-height: 30px; overflow: hidden;">
          <table style="margin-bottom:0px;" class="table table-striped ">
            <thead>
              <tr>
                <th>
                  No serie
                </th>
                <th>
                  Descripción
                </th>
                <th style="text-align:right">
                  Precio
                </th>
                <th>
                  Cantidad
                </th>
                <th style="text-align:right">
                  Subtotal
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="refaccion in cotizacionActual">
                <td>
                  {{refaccion.PTS_IDPARTE}}
                </td>
                <td>
                  {{refaccion.PTS_DESPARTE}}
                </td>
                <td style="text-align:right">
                  {{refaccion.PTS_PCOLISTA | currency}}
                </td>
                <td>
                  <input style="width:80px" ng-model="refaccion.cantidad" autocomplete="off" size="5" class=" text-center form-control" type="number" value="1" name="cantidad" min="1" max="9999">
                </td>
                <td style="text-align:right">
                  {{refaccion.PTS_PCOLISTA*refaccion.cantidad | currency}}
                </td>
                <td>
                  <button ng-click="borrarCotizacion(refaccion)" class="btn btn-sm btn-danger" type="button" name="button">
                    <i class="fa fa-minus"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="max-height: 38vh; overflow: auto;">
          <table class="table table-striped ">
            <tbody>
              <tr ng-repeat="refaccion in cotizacionActual">
                <td>
                  {{refaccion.PTS_IDPARTE}}
                </td>
                <td>
                  {{refaccion.PTS_DESPARTE}}
                </td>
                <td style="text-align:right">
                  {{refaccion.PTS_PCOLISTA | currency}}
                </td>
                <td>
                  <input style="width:80px" ng-model="refaccion.cantidad" autocomplete="off" size="5" class=" text-center form-control" type="number" value="1" name="cantidad" min="1" max="9999">
                </td>
                <td style="text-align:right">
                  {{refaccion.PTS_PCOLISTA*refaccion.cantidad | currency}}
                </td>
                <td>
                  <button ng-click="borrarCotizacion(refaccion)" class="btn btn-sm btn-danger" type="button" name="button">
                    <i class="fa fa-minus"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div ng-show="cotizacionActual.length > 0" class="row">
      <div class="col-xs-2 col-xs-push-7" style="text-align: right;">
        <h5>Total:</h5>
      </div>
      <div class="col-xs-2 col-xs-push-7" style="text-align: right;">
        <h5>{{total | currency}}</h5>
      </div>
    </div>
  </div>
  <div class="btn-container">
    <button ng-disabled="!guardar" ng-click="guadarCotizacionBack()" ng-show="cotizacionActual.length>0" class="btn btn-success" type="button" name="button">{{folioActual != "TEMP"? "Actualizar cotización": "Guardar cotización"}}</button>
  </div>
</div>
